 
<!-- Child to parent communication through event binding and event emitter.
   Child event handlers (add, search, clear) are bound to the parent component's methods. When the child component emits an event, the corresponding method in the parent component is invoked. -->
   <!-- Parent - TransactionsLogTableComponent Child - ListHeaderComponent
   Parent to child communication. 
   This HTML passes the values of searchTitle and searchPlaceHolder to the child component ListHeaderComponent. -->

<div class="container">
  <app-list-header 
  [searchTitle]="'Search Transactions Logs'" 
  [searchPlaceHolder]="'January Transactions...'"
  (add)="openAddTransactionDialog()"
  (search)="searchTransactions($event)"
  (clear)="OnClearSearch()">
 </app-list-header>

    <table mat-table [dataSource]="dataSourceFiltered" class="scroll-container">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" class="font-medium"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'mediumDate'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
  </table>

</div>